<div class="bg-slate-900 p-4 shadow rounded-md grid">
    <div>
        <div class="flex flex-wrap items-center gap-2 mb-5">
            <div *ngFor="let category of this.categoryService.categoriesSig()"
                class="flex py-2 px-8 bg-blue-600 text-md text-white rounded-md relative">
                <p class="cursor-default">{{category.title}}</p>
                <button (click)="edit(category.id,category.title)" class="absolute left-2">
                    <fa-icon [icon]="editIcon"></fa-icon>
                </button>
                <button (click)="deleteHandler(category.id)" class="absolute right-2">
                    <fa-icon [icon]="removeIcon"></fa-icon>
                </button>
            </div>
        </div>
        <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
            <input type="text" formControlName="title" required placeholder="Category name..."
                class="input bg-slate-800 flex w-full">
            <button [disabled]="!this.categoryForm.valid"
                [ngClass]="{'btn-green':method === 'create', 'btn-orange': method === 'update'}" class="btn mt-2"
                type="submit">
                <span *ngIf="method === 'create'">Create</span>
                <span *ngIf="method === 'update'">Update</span>
            </button>
        </form>
    </div>
</div>