@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-sm;
    }
    td {
        @aply capitalize text-white/70;
    }
    thead td {
        @aply text-white;
    }
}

@layer components {
    .btn {
        @apply flex gap-2 items-center text-white py-2 px-5 rounded-md;
    }
    .input {
        @apply rounded-md border border-slate-800 bg-slate-700 bg-transparent p-2 outline-none placeholder:text-white focus:border-slate-300 placeholder:text-sm
    }
    .container {
        @apply max-w-[1000px];
    }
    .btn-red {
        @apply bg-rose-900 hover:bg-rose-800
    }
    .btn-green {
        @apply bg-green-600 hover:bg-green-800
    }
}

.btn-custom:hover {
    color: #5cdb95;
    box-shadow: 0 2px 0 0 currentcolor;
    transition: 0.25s ease;
}

.text-custom {
    color: #5cdb95;
}

header a span:hover {
    color:#5cdb95 ;
}

header nav ul li {
    margin-left: 0.75em;
    margin-right: 0.75em;
}

header nav ul li a {
    color: inherit;
    text-decoration: none;
    transition: 0.25s ease;
}

header nav ul:hover a {
    color: #575757;
}

header nav ul:hover a:hover {
    color: #5cdb95;
    box-shadow: 0 2px 0 0 currentcolor;
}
