<pagination-controls (pageChange)="currentPage = $event" class="flex text-sm mt-4 justify-end">
</pagination-controls>

<table class="w-full shadow rounded-md overflow-hidden mt-4 bg-slate-900">
    <thead class="bg-blue-600">
        <tr>
            <td class="p-4 font-bold cursor-default"> № </td>
            <td class="p-4 font-bold cursor-default">Title</td>
            <td class="p-4 font-bold cursor-default">Amount($)</td>
            <td class="p-4 font-bold cursor-default">Category</td>
            <td class="p-4 font-bold cursor-default">Date</td>
            <td class="p-4 font-bold text-right cursor-default">Action</td>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="let transaction of this.transactionService.transactionSig() | paginate:{itemsPerPage:3, currentPage}; let i = index">
            <td class="pl-4 cursor-default">{{i + 1}}</td>
            <td class="pl-4 cursor-default">{{transaction.title | titlecase}}</td>
            <td [ngClass]="transaction.type === 'income' ? 'text-green-500' : 'text-red-500'"
                class="pl-4 cursor-default">
                {{transaction.amount | currency}}
            </td>
            <td class="pl-4 cursor-default">{{transaction.category?.title || 'Other'}}</td>
            <td class="pl-4 cursor-default">{{transaction.createdAt | date}}</td>
            <td class="pl-4 cursor-default">
                <button (click)="delete(transaction.id)"
                    class="btn text-red-600 text-lg hover:text-red-700 hover:scale-105 ml-auto">
                    <fa-icon [icon]=" trashIcon"></fa-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>